button {
    border: none;
    outline: none;
    margin:0.5em;
}
button:hover {
    cursor: pointer;
}

button.button-pill {
    border-radius: 20px;
}

button.button-sm {
    padding: 0.5em 2em;
}

button.button-lg {
    padding: 1em 3em;
}

button.button-square {
    border-radius: 4px;
}

button.button-green {
    background-color: #D1FAE5;
    color: #065F46;
}

button.button-red {
    background-color: #FEE2E2;
    color: #991B1B;
}

button.button-yellow {
    background-color: #FEF3C7;
    color: #92400E;
}

button.button-blue {
    background-color: #DBEAFE;
    color: #1E40AF;
}

button.button-indigo {
    background-color: #E0E7FF;
    color: #3730A3;
}


button.button-purple {
    background-color: #EDE9FE;
    color: #5B21B6;
}

button.button-pink {
    background-color: #FCE7F3;
    color: #9D174D;
}


