*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 4em;
    border-radius: 5px;
}

.container h1 {
    color: #fff;
    text-align: center;
    margin: 0 0 1em 0; 

}

.buttons button {
    padding: 1em 2em;
    margin: 0.5em;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}