*{
    margin: 0;
    padding: 0;
}

.container {
    padding: 2em;
}

pre {
    margin-top: 0;
    margin: 15px 0 ;
    padding: 12px;
    font-size: 1em;
    background: #f7f7f7;
    border-radius: 2px;
    overflow-x: auto;
}