*{
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Roboto", sans-serif;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  background-color: #000;
  width: 50%;
  margin: 1em ;
  padding: 2em;
  border-radius: 5px;
  color:  #fff;
  text-align: center;
}

.container button {
  padding: 1em 2em;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.container .item-container {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  overflow-y: scroll;
  height: 50vh;
  user-select: none;
}

.item-container p {
  margin: 1em 0;
  border: 1px solid #fff;
  padding: 2em;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}


.item-container p:hover {
  color: #000;
  background-color: #fff;

}




